<body>
  <style>
  input[type="submit"] {
    background: url(images/shopping-cart/check-out-btn.png);
    width: 200px; /* width of image */
    height: 50px; /* height of image */
    border: 0;
}
  </style>
  <h3>Hello Battle!</h3>
  <form action = "/home" method = 'post'>
    <input type="text" name= 'player_1_name' value="John">
    <input type="text" name= 'player_2_name' value="Dave">
    <input type="submit" value="submit" method="post">
  </form>
</body>
