<div>
  <style>
    .cat-border {
      border-width: 2px;
      border-color: red;
      border-style: dashed; }
  </style>
  <h1>My name is <%= @random_name %> </h1>
  <img src = http://bit.ly/1eze8aE class="cat-border">
</div>
