<div>
  <style>
    .cat-border {
      border-width: 2px;
      border-color: red;
      border-style: dashed;
    }
  </style>
  <% if @name %>
    <h1>My name is <%= @name %></h1>
  <% end %>
  <form action="/named-cat">
    <input type="text" name="name" submit = "Submit">
  </form>
  <img src = http://bit.ly/1eze8aE class="cat-border">
</div>
